

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: sm;
}


body {
    font-family: 'Open Sans', sans-serif;
}


.contenedor {
    width: 90%;
    max-width: 1200%;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header {
    height: 100vh;
    background-image: url(../images/ball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.head{
    text-align: center;
    padding: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(1, 1, 1);
}

.menu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(0, 0, 0);
}

.menu-navegacion{
    position: fixed;
    right: 0;
    top: 0;
    width: 30vw;
    height: 100%;
     background-image: linear-gradient(135deg, #a3bded 0%, #6991c7 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out ;
    transform: translate(110%);
    box-shadow: 0 0 6px rgb(0, 0, 0 .5);
}

.spread {
    transform: translate(0);
}
.menu-navegacion a{
    color:white;
    text-decoration: none;
}
.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/*nuestros servicios the queens*/
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #a3bded;
    margin-bottom: 40px;
    font-size: 40px;
} 
.contenedor-servicio{
    display:flex;
    justify-content: space-evenly; 
    align-items: center;
    flex-wrap: wrap;
}

.contendeor-servicio img{
    width: 30%;
    height: 30%;
    float: right;
    margin-right: 20px;
    border-radius: 15px;
    object-fit: cover;
    object-position: 40% 20%;
}

.checklist-servicio{
    width: 45%;
    align-items: left;
}

.services{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #a3bded;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
}

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.images-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0), .5;
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0,0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}


.agregar-imagen{
    object-fit: cover;
    width: 350px;
    border-radius: 120px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    cursor: pointer;
}

.theys{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-theys{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
.cont-theys img{
    width: 225px;
    display: block;
    margin:0 auto;
}

.n-experts{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400%;
}

/*Footer*/

footer{
    background: #9f8ad0;
    padding-bottom: 0.1px;

}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 45px;
}

.contact-us{
    width: 40%;
    color: white;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.social-media-icon:hover{
    background: white;
    color: #6f86d6;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: white;
    margin-bottom:60px ;
}

/*para navegador celular*/

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .img1{
        width: 80%;
        margin-bottom: 40px;
    }
    img2{
        width: 80%;
        margin-bottom: 40px;
    }
    img3{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }
    .services{
        margin-bottom: 30px;
    }
    .agregar-imagen{
        width: 80px;
    }
    .images-galeria{
        width: 45%;
    }
    .cont-theys{
        width: 80%;
    }
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media-icon i{
        margin-left: 0;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}